In [140]:
class GradesGenerator:
  def __init__(self, courseName, courseID, courseCredit): 
    self.courseID = courseID
    self.courseName = courseName
    self.courseTitle = self.courseName + " - " + self.courseID
    self.courseCredit = courseCredit
    self.attendanceMarks = self.attendanceMarksHandler()

    if self.attendanceMarks == 0 :
      self.totalQuizMarks = 0
      self.midMarks = 0
      self.finalMarks = 0
    
    else :
      self.totalQuizMarks = self.quizMarksHandler()
      self.midMarks = self.midMarksHandler()
      self.finalMarks = self.finalMarksHandler()

    self.totalObtianedMarks = self.totalMarksHandler()
    print("Total Obtained Marks in", self.courseTitle, ":", self.totalObtianedMarks, "Out of", 100*self.courseCredit)
    self.marksPercentage = self.marksPercentageHandler()
    self.grades = self.gradesHandler()
    print("Grades*Credits Obtained in", self.courseTitle, ":", self.grades)


  def quizMarksHandler(self):
    self.noQuiz = int(input("Enter number of Quizes : "))
    self.quizArray = []
    for self.i in range(self.noQuiz):
      self.quiz = int(input("Enter quiz marks : "))
      self.quizArray.append(self.quiz)
    
    self.quizArray.remove(min(self.quizArray))
    self.totalQuiz = 0
    
    for self.eachQuiz in self.quizArray:
      self.totalQuiz += self.eachQuiz
    
    return self.totalQuiz


  def attendanceMarksHandler(self):
    self.classesTaken = int(input("Enter total number of classes taken : "))
    self.classesAttended = int(input("Enter number of classes attended : "))

    self.attendancePercentage = 100*float(self.classesAttended)/float(self.classesTaken)

    if self.attendancePercentage >= 95 and self.attendancePercentage <= 100 :
      self.attendanceMarks = 10*self.courseCredit
    elif self.attendancePercentage >= 90 and self.attendancePercentage < 95 :
      self.attendanceMarks = 9*self.courseCredit
    elif self.attendancePercentage >= 85 and self.attendancePercentage < 90 :
      self.attendanceMarks = 8*self.courseCredit
    elif self.attendancePercentage >= 80 and self.attendancePercentage < 85 :
      self.attendanceMarks = 7*self.courseCredit
    elif self.attendancePercentage >= 75 and self.attendancePercentage < 80 :
      self.attendanceMarks = 6*self.courseCredit
    else :
      self.attendanceMarks = 0
    
    return self.attendanceMarks


  def midMarksHandler(self):
    self.midMarks = int(input("Enter marks in Midterm exam : "))
    return self.midMarks


  def finalMarksHandler(self):
    self.finalMarks = int(input("Enter marks in Final exam : "))
    return self.finalMarks


  def totalMarksHandler(self):
    self.totalObtianedMarks = self.totalQuizMarks + self.attendanceMarks + self.midMarks + self.finalMarks
    return self.totalObtianedMarks


  def marksPercentageHandler(self):
    self.marksPercentage = 100*(float(self.totalObtianedMarks)/float(self.courseCredit*100))
    return self.marksPercentage

  def gradesHandler(self):
    if self.marksPercentage >= 80 :
      self.grades = 4.00*self.courseCredit
    elif self.marksPercentage >= 75 and self.marksPercentage < 80 :
      self.grades = 3.75*self.courseCredit
    elif self.marksPercentage >= 70 and self.marksPercentage < 75 :
      self.grades = 3.50*self.courseCredit
    elif self.marksPercentage >= 65 and self.marksPercentage < 70 :
      self.grades = 3.25*self.courseCredit
    elif self.marksPercentage >= 60 and self.marksPercentage < 65 :
      self.grades = 3.00*self.courseCredit
    elif self.marksPercentage >= 55 and self.marksPercentage < 60 :
      self.grades = 2.75*self.courseCredit
    elif self.marksPercentage >= 50 and self.marksPercentage < 55 :
      self.grades = 2.50*self.courseCredit
    elif self.marksPercentage >= 45 and self.marksPercentage < 50 :
      self.grades = 2.25*self.courseCredit
    elif self.marksPercentage >= 40 and self.marksPercentage < 45 :
      self.grades = 2.00*self.courseCredit
    else :
      self.grades = 0
    
    return self.grades

In [148]:
studentName = input("Enter Student Name : ")
studentID = input("Enter Student ID : ")
semester = int(input("Enter Semester : "))
previousCGPA = float(input("Previous CGPA : "))

Enter Student Name : CantShoot420
Enter Student ID : 160041005
Enter Semester : 6
Previous CGPA : 3.49

In [149]:
noCourses = int(input("Enter Number of Courses : "))
courseNames = []
courseIDs = []
courseCredits = []
courseGrades = []
totalCredits = 0
totalCreditsObtained = 0

for i in range(noCourses):
  print("\nInput for Course", i+1)
  courseName = input("Enter Course Name : ")
  courseNames.append(courseName)
  courseID = input("Enter Course ID : ")
  courseIDs.append(courseID)
  courseCredit = int(input("Enter Course Credit : "))
  courseCredits.append(courseCredit)
  
  course = GradesGenerator(courseNames[i], courseIDs[i], courseCredits[i])
  courseGrades.append(course)

  totalCredits += courseCredits[i]
  totalCreditsObtained += courseGrades[i].grades

  print("\n")

print("Total Credits : ", totalCredits)
print("Total Obtianed Grades*Credits : ", totalCreditsObtained)

newGPA = float(totalCreditsObtained)/float(totalCredits)
newGPA = round(newGPA,2)
print("GPA : ", newGPA)

Enter Number of Courses : 3

Input for Course 1
Enter Course Name : HCI
Enter Course ID : CSE 4849
Enter Course Credit : 3
Enter total number of classes taken : 32
Enter number of classes attended : 28
Enter number of Quizes : 4
Enter quiz marks : 11
Enter quiz marks : 12
Enter quiz marks : 8
Enter quiz marks : 11
Enter marks in Midterm exam : 56
Enter marks in Final exam : 124
Total Obtained Marks in HCI - CSE 4849 : 238 Out of 300
Grades*Credits Obtained in HCI - CSE 4849 : 11.25



Input for Course 2
Enter Course Name : IP
Enter Course ID : CSE 4839
Enter Course Credit : 3
Enter total number of classes taken : 32
Enter number of classes attended : 25
Enter number of Quizes : 4
Enter quiz marks : 9
Enter quiz marks : 13
Enter quiz marks : 7
Enter quiz marks : 14
Enter marks in Midterm exam : 56
Enter marks in Final exam : 119
Total Obtained Marks in IP - CSE 4839 : 229 Out of 300
Grades*Credits Obtained in IP - CSE 4839 : 11.25



Input for Course 3
Enter Course Name : ITOM
Enter Course ID : CSE 4807
Enter Course Credit : 2
Enter total number of classes taken : 32
Enter number of classes attended : 27
Enter number of Quizes : 3
Enter quiz marks : 12
Enter quiz marks : 11
Enter quiz marks : 14
Enter marks in Midterm exam : 57
Enter marks in Final exam : 127
Total Obtained Marks in ITOM - CSE 4807 : 224 Out of 200
Grades*Credits Obtained in ITOM - CSE 4807 : 8.0


Total Credits :  8
Total Obtianed Grades*Credits :  30.5
GPA :  3.81

In [150]:
newCGPA = float(previousCGPA*(semester-1)+newGPA)/float(semester)
newCGPA = round(newCGPA,2)
print(newCGPA)

3.54

In [144]:
if semester == 1 :
  fileName = str(semester)+'st_Semester_'+'Results.csv'
elif semester == 2 :
  fileName = str(semester)+'nd_Semester_'+'Results.csv'
elif semester == 3 :
  fileName = str(semester)+'rd_Semester_'+'Results.csv'
else :
  fileName = str(semester)+'th_Semester_'+'Results.csv'

In [145]:
import csv
with open(fileName, 'w', newline='') as file:
  writer = csv.writer(file)
  writer.writerow(["Student ID", "Student Name", "GPA", "CGPA"])

In [152]:
with open(fileName, 'a', newline='') as file:
  writer = csv.writer(file)
  writer.writerow([studentID, studentName, newGPA, newCGPA])

In [170]:
import pandas as pd

df = pd.read_csv(fileName)
df

   Student ID  Student Name   GPA  CGPA
0   160041045    ShroudBABA  4.00  3.77
1   160041005  CantShoot420  3.81  3.54